[package]
name = "obeli-sk"
description = "Deterministic workflow engine"
readme = "README.md"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
concepts.workspace = true
db-sqlite.workspace = true
executor.workspace = true
val-json.workspace = true
wasm-workers.workspace = true

anyhow.workspace = true
base16ct.workspace = true
clap.workspace = true
console-subscriber = { workspace = true, optional = true }
const_format.workspace = true
hashbrown.workspace = true
serde_json.workspace = true
serde.workspace = true
sha2.workspace = true
shadow-rs.workspace = true
tokio = { workspace = true, features = [
    "fs",
    "macros",
    "rt-multi-thread",
    "rt",
    "signal",
    "sync",
    "time",
] }
tracing-chrome.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
utils.workspace = true
wasmtime.workspace = true

[[bin]]
name = "obelisk"
path = "src/main.rs"


[features]
parallel-compilation = ["wasmtime/parallel-compilation"]
tokio-console = ["dep:console-subscriber"]
default = ["parallel-compilation"]

[lints]
workspace = true

[build-dependencies]
shadow-rs.workspace = true

[workspace]
resolver = "2"
members = [
    "crates/concepts",
    "crates/db-sqlite",
    "crates/db-mem",
    "crates/executor",
    "crates/testing/cargo-component-builder",
    "crates/testing/db-tests",
    "crates/testing/test-programs/fibo/activity",
    "crates/testing/test-programs/fibo/activity/builder",
    "crates/testing/test-programs/fibo/workflow",
    "crates/testing/test-programs/fibo/workflow/builder",
    "crates/testing/test-programs/http/activity",
    "crates/testing/test-programs/http/activity/builder",
    "crates/testing/test-programs/http/workflow",
    "crates/testing/test-programs/http/workflow/builder",
    "crates/testing/test-programs/sleep/activity",
    "crates/testing/test-programs/sleep/activity/builder",
    "crates/testing/test-programs/sleep/workflow",
    "crates/testing/test-programs/sleep/workflow/builder",
    "crates/testing/test-utils",
    "crates/utils",
    "crates/val-json",
    "crates/wasm-workers",
]

[workspace.package]
version = "0.1.0"
license = "AGPL-3.0-only"
repository = "https://github.com/obeli-sk/obeli-sk"
authors = ["Project Developers"]
edition = "2021"
rust-version = "1.77.0"

[workspace.dependencies]
cargo-component-builder = { path = "crates/testing/cargo-component-builder", version = "0.1.0" }
concepts = { package = "obeli-sk-concepts", path = "crates/concepts", version = "0.1.0" }
db-mem = { path = "crates/db-mem", version = "0.1.0" }
db-tests = { path = "crates/testing/db-tests", version = "0.1.0" }
db-sqlite = { package = "obeli-sk-db-sqlite", path = "crates/db-sqlite", version = "0.1.0" }
executor = { package = "obeli-sk-executor", path = "crates/executor", version = "0.1.0" }
test-programs-fibo-activity-builder = { path = "crates/testing/test-programs/fibo/activity/builder", version = "0.1.0" }
test-programs-fibo-workflow-builder = { path = "crates/testing/test-programs/fibo/workflow/builder", version = "0.1.0" }
test-programs-http-get-activity-builder = { path = "crates/testing/test-programs/http/activity/builder", version = "0.1.0" }
test-programs-http-get-workflow-builder = { path = "crates/testing/test-programs/http/workflow/builder", version = "0.1.0" }
test-programs-sleep-activity-builder = { path = "crates/testing/test-programs/sleep/activity/builder", version = "0.1.0" }
test-programs-sleep-workflow-builder = { path = "crates/testing/test-programs/sleep/workflow/builder", version = "0.1.0" }
test-utils = { path = "crates/testing/test-utils", version = "0.1.0" }
utils = { package = "obeli-sk-utils", path = "crates/utils", version = "0.1.0" }
val-json = { package = "obeli-sk-val-json", path = "crates/val-json", version = "0.1.0" }
wasm-workers = { package = "obeli-sk-wasm-workers", path = "crates/wasm-workers", version = "0.1.0" }

anyhow = { version = "1.0", features = ["backtrace"] }
arbitrary = { version = "1.3.2", features = ["derive"] }
assert_matches = "1.5.0"
async-channel = "2.1.1"
async-sqlite = { version = "0.2.2", features = [
    "serde_json",
    "chrono",
    "tracing",
] }
async-trait = "0.1"
base16ct = { version = "0.2.0", features = ["alloc"] }
cargo_metadata = "0.18"
cfg-if = "1.0.0"
chrono = { version = "0.4.34", features = ["arbitrary", "serde"] }
clap = { version = "4.5.4", features = ["derive"] }
console-subscriber = "0.2.0"
const_format = "0.2.32"
criterion = "0.5"
derivative = "2.2.0"
derive_more = "0.99.17"
futures-util = "0.3.30"
getrandom = "=0.2.11" # For madsim patch
hashbrown = { version = "0.14.3", features = ["serde"] }
http-body-util = "0.1"
hyper = "1.1.0"
hyper-util = "0.1"
indexmap = "2.1"
insta = { version = "1.38.0", features = ["json"] }
itertools = "0.12.1"
lazy_static = "1.4"
madsim = "0.2.28"
rand = "0.8.5"
rstest = "0.18.2"
rusqlite = { version = "0.31.0" }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
serde_with = "3.7.0"
sha2 = "0.10.8"
shadow-rs = "0.28.0"
strum = { version = "0.26.0", features = ["derive"] }
tempfile = "3.10.1"
thiserror = "1.0"
tokio = { version = "0.2.25", package = "madsim-tokio", features = [
    "sync",
    "rt",
    "time",
    "macros",
    "tracing",
] }
tracing = { version = "0.1", features = ["log"] }
tracing-chrome = "0.7.1"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
ulid = { version = "1.1.0", features = ["serde"] }
wiremock = "0.6"

# wasmtime
wasmtime = { version = "21.0.1", default-features = false, features = [
    # remove "parallel-compilation"
    "component-model",
    "addr2line",
    "async",
    "cache",
    "component-model",
    "coredump",
    "cranelift",
    "debug-builtins",
    "demangle",
    "gc",
    "pooling-allocator",
    "profiling",
    "wat",
] }
wasmtime-wasi = "21.0.1"
wasmtime-wasi-http = "21.0.1"
wast = "207.0.0"
wit-component = "0.207.0"
wit-parser = "0.207.0"

# cargo-component
wit-bindgen-rt = "0.24.0"

[patch.crates-io]
madsim = { git = "https://github.com/tomasol/madsim", rev = "4232484d49b036cf68b56220ccac3e8e060bb9c7" }
async-sqlite = { git = "https://github.com/tomasol/async-sqlite", rev = "fe2d8d704eb45b61f2bf0af772ce24c72a033c14" } # rusqlite 0.31.0, sqlite 3.45
getrandom = { git = "https://github.com/madsim-rs/getrandom.git", rev = "e79a7aecbcf8a43a802d30742667b77d75c613bd" } # madsim

[workspace.lints]
# lower the priority to allow overriding later
clippy.all = { level = "deny", priority = -1 }
# lower the priority to allow overriding later
clippy.dbg_macro = "deny"
# lower the priority to allow overriding later
clippy.pedantic = { level = "deny", priority = -1 }
# lower the priority to allow overriding later
clippy.explicit_deref_methods = "allow" # Lots of false positives.
# lower the priority to allow overriding later
clippy.missing_errors_doc = "allow" # Allow missing docs for now
# lower the priority to allow overriding later
clippy.missing_panics_doc = "allow" # Allow missing docs for now
# lower the priority to allow overriding later
clippy.trivially_copy_pass_by_ref = "allow" # Lots of false positives.

clippy.module_name_repetitions = "allow"

rust.unknown_lints = "deny"

[profile.release]
debug-assertions = true
overflow-checks = true
lto = true
