[package]
name = "test-programs-adhoc-js-workflow"
authors.workspace = true
edition.workspace = true
license.workspace = true
publish = false
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
serde_json.workspace = true
wit-bindgen.workspace = true
boa_engine = { git = "https://github.com/boa-dev/boa.git", rev = "f6601a0", default-features = false } # https://github.com/boa-dev/boa/pull/4528

# boa_engine = { path="../../../../../boa/core/engine", default-features = false } # https://github.com/boa-dev/boa/pull/4528

[build-dependencies]
anyhow.workspace = true
wit-bindgen-rust.workspace = true


[lib]
crate-type = ["cdylib"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(getrandom_backend, values("custom"))'] }

[workspace.package]
version = "0.35.4"
license = "AGPL-3.0-only"
repository = "https://github.com/obeli-sk/obelisk"
authors = ["Project Developers"]
edition = "2024"
rust-version = "1.91.0"

[workspace.dependencies]
anyhow = { version = "1.0", features = ["backtrace"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
wit-bindgen = "0.52.0"
wit-bindgen-rust = "0.52.0"
