name: check-test
permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - latest
  pull_request:

# If new code is pushed to a PR branch, then cancel in progress workflows for that PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -xe {0}

jobs:
  ci-test:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - report: junit-default.xml
            additional: ""
          - report: junit-js-local.xml
            additional: "-F activity-js-local -F workflow-js-local"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Start postgres
        run: docker run -d -e POSTGRES_PASSWORD=postgres -p 5432:5432 postgres:18

      - name: Populate the nix store
        run: nix develop --command echo

      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
        with:
          cache-on-failure: true
          key: ${{ matrix.report }}

      - name: Build tests
        run: nix develop --command cargo nextest run --workspace --no-run

      - name: Populate the codegen cache
        run: nix develop --command scripts/test-phase1.sh
        env:
          CI: true
          ADDITIONAL_FEATURES: "${{ matrix.additional }}"

      - name: test
        run: nix develop --command scripts/test-phase2.sh
        env:
          RUST_LOG: "info,executor=trace,wasm_workers=trace,db=info"
          CI: true
          TEST_POSTGRES_HOST: "localhost"
          TEST_POSTGRES_USER: "postgres"
          TEST_POSTGRES_PASSWORD: "postgres"
          TEST_POSTGRES_DATABASE_PREFIX: "obelisk_test"
          ADDITIONAL_FEATURES: "${{ matrix.additional }}"

      - name: Rename test report
        run: mv target/nextest/ci-test/junit.xml target/nextest/ci-test/${{ matrix.report }}

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: ${{ matrix.report }}
          path: target/nextest/ci-test/${{ matrix.report }}

      - name: Report results in GitHub UI
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637
        if: always()
        with:
          name: Rust tests
          path: target/nextest/ci-test/${{ matrix.report }}
          reporter: java-junit
