# TODO: Use flakes to generate the docker image

name: release-4-push-docker-image

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref (branch or SHA) to process"
        required: false
        type: string
      skip_latest:
        description: "skip_latest: Tag latest will be pushed unless skip_latest=true"
        required: true
        type: boolean
        default: false
  workflow_call:
    inputs:
      skip_latest:
        description: "skip_latest: Tag latest will be pushed unless skip_latest=true"
        required: true
        type: boolean
        default: false

defaults:
  run:
    shell: bash -xe {0}

jobs:
  push-image:
    name: ${{ matrix.dockerfile }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - tarfile: obelisk-x86_64-unknown-linux-gnu.tar.gz
            dockerfile: ubuntu-24.04.Dockerfile
            image_tag: ubuntu

          - tarfile: obelisk-x86_64-unknown-linux-gnu.tar.gz
            dockerfile: ubuntu-24.04-litestream.Dockerfile
            image_tag: ubuntu-litestream

          - tarfile: obelisk-x86_64-unknown-linux-musl.tar.gz
            dockerfile: alpine.Dockerfile
            image_tag: alpine

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          # Use the ref if provided, otherwise obtain the parent workflow branch, defaults to main.
          ref: ${{ github.event.inputs.ref || github.event.workflow_run.head_branch }}

      - id: git-info
        run: |
          VERSION="$(grep -m1 '^version = "' Cargo.toml | cut -d'"' -f2)"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=v$VERSION" >> $GITHUB_OUTPUT
          echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Download and extract binary
        run: |
          mkdir tmp
          cd tmp
          wget -q https://github.com/obeli-sk/obelisk/releases/download/${TAG}/${{ matrix.tarfile }}
          tar xvfz ${{ matrix.tarfile }}
        env:
          TAG: ${{ steps.git-info.outputs.tag }}

      - name: Generate default config
        run: tmp/obelisk generate config tmp/obelisk.toml

      - name: Build and push docker image
        run: |
          docker login -u getobelisk -p ${{ secrets.DOCKER_HUB_TOKEN }}
          IMAGE_BASE="getobelisk/obelisk"
          TAGS=(
            "${IMAGE_BASE}:${{ matrix.image_tag }}"
            "${IMAGE_BASE}:${VERSION}-${{ matrix.image_tag }}"
          )
          if [ "${{ inputs.skip_latest }}" != "true" ] && [ "${{ matrix.image_tag }}" = "ubuntu" ]; then
            TAGS+=("${IMAGE_BASE}:latest")
          fi
          PUSH=1 scripts/build-docker-image.sh \
            tmp/obelisk \
            tmp/obelisk.toml \
            .github/workflows/release/docker-image/${{ matrix.dockerfile }} \
            "${TAGS[@]}"
        env:
          VERSION: ${{ steps.git-info.outputs.version }}
