name: release-5-verify-docker

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref (branch or SHA) to obtain the tag"
        required: false
        type: string
  workflow_run:
    workflows:
      - release-4-push-docker-image
    types:
      - completed

defaults:
  run:
    shell: bash -xe {0}

jobs:
  verify-docker-image:
    name: verify-${{ matrix.image_tag }}
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - image_tag: ubuntu
          - image_tag: alpine
          - image_tag: ubuntu-litestream
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          # Use the ref if provided, otherwise obtain the parent workflow branch, defaults to main.
          ref: ${{ github.event.inputs.ref || github.event.workflow_run.head_branch }}

      - id: git-info
        run: |
          VERSION="$(grep -m1 '^version = "' Cargo.toml | cut -d'"' -f2)"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=v$VERSION" >> $GITHUB_OUTPUT
          echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Verify docker image
        run: |
          IMAGE="getobelisk/obelisk:${VERSION}-${{ matrix.image_tag }}"
          echo "Pulling $IMAGE"
          docker pull $IMAGE
          docker run --rm $IMAGE --version | grep $VERSION
          docker run --rm -v $PWD/obelisk-testing-sqlite-oci.toml:/etc/obelisk/obelisk.toml $IMAGE server verify
        env:
          VERSION: ${{ steps.git-info.outputs.version }}
